.labelInput
{
	font:1.2em verdana,arial,sans-serif;
	color: #369;
	font-weight: bold;
	
}

.corpoPrincipal
{
	width: 800px;
}
.corpoEsquerda
{
	float: left;
	font:0.6em verdana,arial,sans-serif;
	border-color: #000;
	width: 380px;
}
.corpoDireita
{
	float: right;
	font:0.6em verdana,arial,sans-serif;
	border-color: #000;
	width: 400px;
}
form
{
	width: 100%;
}
.previewNotaFiscal
{
	width: 100%;
	margin-top: 20px;	
	border: 1px double #999;
	border-width: 5px;
	color: #000;
	padding: 10px;
	padding-bottom: 30px;	
}
p
{
	font-weight: bold;
	border-bottom: 1px solid #CCC; 
}
p label
{
	font-weight: bold;
	border-bottom: 1px solid #CCC; 
		
}

big
{
	font-weight: normal;
	margin: 0 5px;
}
fieldset
{
	margin-top: 10px;	
	border: 2px solid #369;
	background-color: #deecf3;
}
div#dadosNotaFiscal
{
	border-bottom: 2px ridge #000 ;
	border-top: 2px ridge #000 ;
	padding: 5px;
}
div#mensagens
{
	color: #B22;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	position: absolute;
	left: 30px;
	top: 30px;
	border: 2px dotted red;
	height: 50px;
	padding: 15px;
	background-color: #FFF;
	overflow: auto; 
}

form#notaFiscal input[type="text"]
{
	color: #369;
	padding: 3px 5px;
	border: 1px solid #000;
	width: 40px; 	
}

form#baixaEstoque input[type="text"]
{
	color: #369;
	padding: 3px 5px;
	border: 1px solid #000;
	width: 40px; 	
}

.dataTableProdutos
{
	margin-top: 10px;
	width: 100%;
	color: #369;
	font-family: verdana,sans-serif;
	font-weight:bold;
	font-size: 0.9em;
	background-color:#FFF;	
	border: 1px solid #000099;
	margin: 10px 0;	
}
.dataTableNotaFiscal
{
	margin-top: 10px;
	width: 100%;
	color: #333;
	font-family: verdana,sans-serif;
	font-weight:bold;
	background-color:#FFF;	
	border: 1px solid #AAA;
	margin: 10px 0;	
}

.cabecalho {
	text-align: center;
	font: 1.8em Arial, sans-serif;
	font-weight: bold;
	color: #369;
	background: #CCF;
}
.linhaClara {
	color: #369;
	text-align: left;
	font: 11px Arial, sans-serif;
	background: #EEE;
}
.linhaEscura{
	font: 11px Arial, sans-serif;
	text-align: left;
	background: #369;
	color: #EEE;
}
.linhaClaraNF {
	color: #999;
	text-align: left;
	font: 0.9em Arial, sans-serif;
	background: #EEE;
}
.linhaEscuraNF{
	font: 0.9em Arial, sans-serif;
	text-align: left;
	background: #999;
	color: #EEE;
}
.colunaDataTable
{
	width: 100%;
	color: #369;
	font-family: verdana,sans-serif;
	font-weight:bold;
	background-color:#FFF;	
	border: 1px solid #000099;		
}

input[type="submit"]
{
	float: right;
	margin: 2px 10px;
	background-repeat: no-repeat;
	background-position: 5%;
	color: #369;
	font-family: verdana,sans-serif;
	font-size:90%;
	font-weight:bold;
	background-color:#FFF;
	border:1px solid;
	border-top-color:#CCC;
	border-left-color:#CCC;
	border-right-color:#333;
	border-bottom-color:#333;
	width: 100px;
	height: 20px;	
}
button
{
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 5%;
	color: #369;
	font-family: verdana,sans-serif;
	font-size:90%;
	font-weight:bold;
	background-color:#FFF;
	border:1px solid;
	border-top-color:#CCC;
	border-left-color:#CCC;
	border-right-color:#333;
	border-bottom-color:#333;
	width: 100px;
	height: 20px;	
}
.panelBotaoConsultar
{
	background-image: url("../images/search-blue.gif");	
}
.botaoSair
{
	background-image: url("../images/left-blue.gif");	
}

.panelBotaoConfirmar
{
	background-image: url("../images/check-blue.gif");
}
.panelBotaoAdicionar
{
	background-image: url("../images/add-page-blue.gif");
}
.panelBotaoSubtrair
{
	background-image: url("../images/omit-page-blue.gif");
}
.panelBotaoEditar
{
	background-image: url("../images/edit-page-blue.gif");
}
.panelBotaoCancelar
{
	background-image: url("../images/delete-page-blue.gif");
}

legend
{
  padding: 5px 15px;
  color: #369;
  border-top: 2px solid #369;
  font-weight: bold;
  font-size:120%;
  text-align:right;	
  background-color: #FFF;
}
select
{
	width: 100%;
	padding: 3px 5px;
	color: #369;
	border: 1px solid #000099;
	font-weight: bold;	  
}
.panelGrid
{
	margin-top: 15px;
	width: 100%;
	border: 1px dotted #000066;
}
.colunaDireita
{
	width: 30%;
}
.colunaEsquerda
{
	width: 70%;
}

input[type="text"]
{
	color: #369;
	padding: 3px 5px;
	border: 1px solid #000099;
	width: 100%;
	float: right;
}
input[type="password"]
{
	color: #369;
	padding: 3px 5px;
	border: 1px solid #000099;
	width: 100%;
	float: right;
}

.messages
{
	background-image: url("../images/delete-comment-red.gif");
	background-position: 95% 50%;	
}

.aguardar
{
	background-image: url("../images/user-comment-blue.gif");
	background-repeat: no-repeat;
	background-position: 5%;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: normal;
	color: black;
	text-indent: 30px;
	float: left;
	height: 15px;
}
div#divPrincipal h1#titulo
{
/* 	background-image: url("../images/t2ti.png"); */
	background-image: url("../images/jericho_logo.jpg");
	background-position: 110% 80%;
	background-repeat: no-repeat;
	font-size: 2em;
	font-family: LuzSans-Book;
	border-bottom: 3px solid #74a7c1;
	background-color: #38abe7;
	color: #FFF;
	padding: 10px 10px;
	margin-bottom: 0;
}
div#menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#FFF;
	list-style:none;
}
div#menu ul li{ 
	display: inline;
	font-family: verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold; 
}
div#menu ul li a {
	padding: 2px 10px;
	float:left;
	/* visual do link */
	background-color:#FFF;
	color: #666;
	text-decoration: none;
	border-bottom:3px solid #369;
}
#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}
div#nrNF
{
	width: 100%;
	font-size: 2.5em;
	font-style: times, serif;
	font-weight: bold;
	margin: 5px 0;
}

div#nrNF input[type="text"]
{
	color: #000;
	font-weight: normal;
	font-size: 0.9em;
	font-style: times, serif;
	border: none;
	background-color: #EEE;
	width: 100px;
	float: none;
	margin: 0 7px;
	padding: 0 3px;	
}
div#nrNF select
{
	width: 150px;
	padding: 1px 2px;
	color: #369;
	border: 1px solid #000099;
	font-weight: normal;
	font-size: 9px;   
}

div#calendario input[type="text"]
{
	color: #369;
	font-weight: bold;
	border: none;
	background-color: #EEE;
	width: 70px; 
	float: none;
	margin: 2px 5px;
}
div#NrNF
{
	float: right;
}
form#formAjustePreco input#taxaAjuste
{
	color: #369;
	padding: 3px 5px;
	border: 1px solid #000;
	width: 40px; 	
}
